div > .settings-container {
  border: 1px solid rgba(0, 86, 138, 0.17);
  border-radius: 5px;
  background-color: rgba(0, 86, 138, 0.05);
}

div > .settings-timer {
  color: rgb(95, 95, 95);
  font-weight: 600;
}

mdb-tabs > ul {
  border-bottom: 1px solid rgba(0, 86, 138, 0.17) !important;
  background-color: #f9f9f9 !important;

  & > li > span {
    color: #00568a !important;
    font-size: 1.1em !important;
  }
}
