<div class="d-flex px-3 pt-4">
  <div class="flex-grow-1">
    <h3 class="py-3 pr-3">{{ 'projects.iqars.components.usersettings.general-settings.header' | translate }}</h3>
  </div>
  <div class="p-3 shadow-3 settings-container settings-timer">
    <span class="clock-date">{{ time | date: "YYYY-MM-dd" }}</span><br>
    <span class="clock-time">{{ time | date: "hh:mm:ss" }}</span>
  </div>
</div>
<div class="d-flex flex-column px-3 pt-2">
  <div>
    <h5 class="px-3">{{ 'projects.iqars.components.usersettings.general-settings.language.header' | translate }}</h5>
  </div>
  <div class="p-3 shadow-3 settings-container flex-shrink-0">
    <form [formGroup]="languageSelect">
      <div class="form-group pt-1"
           *ngFor="let lang of availableLanguages">
        <input formControlName="languageRadioGroup"
               type="radio"
               class="with-gap form-check-input"
               [id]="lang"
               [value]="lang" />
        <label [for]="lang"
               class="form-check-label">
          {{ 'shared.languages.' + lang | translate }}
        </label>
      </div>
    </form>
  </div>
</div>
