<div class="d-flex flex-column px-3 pt-2">
  <div>
    <h5 class="px-3">Proxy Configuration</h5>
  </div>
  <div class="p-3 shadow-3 settings-container flex-shrink-0">
    <form [formGroup]="proxySelect" (submit)='buildProxyJSON()'>
      <div class='row' *ngFor='let proxy of availableProxies'>
        <div class='form-check'>
          <input
            mdbCheckbox
            class='form-check-input'
            type='checkbox'
            value=''
            [formControlName]='proxy.backendName'
          />
          <label class='form-check-label' [for]='proxy.backendName'>
            {{ proxy.backendName }}
          </label>
        </div>
      </div>
      <button class='btn btn-primary' type='submit'>Get Config</button>
    </form>
  </div>
</div>
