<div class='d-flex px-3 pt-4'>
  <div class='flex-grow-1'>
    <h3 class='py-3 pr-3'>{{'projects.iqars.components.account-settings.title' | translate}}</h3>
  </div>
  <div class='p-3 shadow-3 settings-container settings-timer'>
    <span class='clock-date'>{{ time | date: "YYYY-MM-dd" }}</span><br>
    <span class='clock-time'>{{ time | date: "hh:mm:ss" }}</span>
  </div>
</div>
<div class='d-flex flex-column px-3 pt-2'>
  <div>
    <h5 class='px-3'>{{'projects.iqars.components.account-settings.changepassword.header' | translate}}</h5>
  </div>
  <div class='p-3 shadow-3 settings-container flex-shrink-0'>
    <form [formGroup]='changePasswordForm' (submit)='submit()'>
      <div class='col-md-6'>
        <div class='form-text'>{{'projects.iqars.components.account-settings.changepassword.old-password' | translate}}</div>
        <mdb-form-control>
          <input formControlName='oldPassword' mdbInput type='password' id='oldPassword'
                 class='form-control validate' />
          <div *ngIf='oldPassword?.invalid && (oldPassword?.dirty || oldPassword?.touched)'
               class='alert alert-danger'>{{'shared.validations.must-be-filled' | translate}}</div>
        </mdb-form-control>
      </div>
      <div class='col-md-6'>
        <div class='form-text'>{{'projects.iqars.components.account-settings.changepassword.new-password' | translate}}</div>
        <mdb-form-control>
          <input formControlName='newPassword' mdbInput type='password' id='newPassword'
                 class='form-control validate' />
          <div *ngIf='newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)'
               class='alert alert-danger'>{{getErrorNewPassword() | translate}}</div>
        </mdb-form-control>
      </div>
      <div class='col-md-6'>
        <div class='form-text'>{{'projects.iqars.components.account-settings.changepassword.new-password-confirmation' | translate}}</div>
        <mdb-form-control>
          <input formControlName='newPasswordConfirmation' mdbInput type='password' id='newPasswordConfirmation'
                 class='form-control validate' />
          <div *ngIf='newPasswordConfirmation?.invalid && (newPasswordConfirmation?.dirty || newPasswordConfirmation?.touched)'
               class='alert alert-danger'>{{getErrorNewPasswordConfirmation() | translate}}</div>
        </mdb-form-control>
      </div>
      <div class='col-md-6 my-2'>
        <button type='submit' class='btn btn-primary' [disabled]='!changePasswordForm.valid'>
          {{'shared.modals.submit' | translate}}
        </button>
      </div>
    </form>
  </div>
</div>
