<nav class='amotiq-navbar-title navbar fixed-top navbar-expand d-flex'
     style='background-color: #f7f9fb;'>
  <div class='mx-4'>
    <a role='button'
       (click)='sidenav.toggle()'>
      <i class='fas fa-bars fa-lg'
         style='color: #00568a;'></i>
    </a>
  </div>
  <strong class='text-primary'>IQaRS</strong>
  <span style='color: grey; font-size: x-small' class='w-25 mx-4'>© amotIQ automotive 2022</span>
  <!--  <div class="mx-1 w-100">-->
  <!--    <amotiq-base-breadcrumb></amotiq-base-breadcrumb>-->
  <!--  </div>-->
  <div class='d-flex justify-content-end w-100'>
    <!-- Settings Button -->
    <ul class='nav navbar-nav nav-flex-icons ml-auto ie-double-nav ie-hidden-double-nav'>
      <div mdbDropdown
           class='dropdown'>
        <a mdbDropdownToggle
           type='button'
           class='nav-link dropdown-toggle waves-light'
           id='dropdownMenuButton'>
          <i class='fas fa-user'></i>
          {{ getUserNameAndTenant() }}
        </a>

        <ul mdbDropdownMenu
            class='dropdown-menu'
            aria-labelledby='dropdownMenuButton'>
          <!-- Account Settings -->
          <li>
            <a class='dropdown-item' [routerLink]="'accountsettings'">
              <i class='fas fa-user'></i>
              {{ 'projects.iqars.nav.usermenu.account' | translate }}
            </a>
          </li>

          <!-- Settings -->
          <li>
            <a class='dropdown-item'
               [routerLink]="'usersettings'">
              <i class='fas fa-cog'></i>
              {{ 'projects.iqars.nav.settings' | translate }}
            </a>
          </li>

          <!-- Proxy Select -->
          <li *ngIf='runningLocal()'>
            <a class='dropdown-item'
               [routerLink]="'proxyconfig'">
              <i class='fas fa-cog'></i>
              ProxyConfig
            </a>
          </li>

          <!-- Sign Out -->
          <li>
            <a class='dropdown-item'
               (click)='onClickLoginLogout()'
               *ngIf='!userIsLoggedIn()'>
              <i class='fas fa-sign-out-alt'></i>
              {{ getLoginButtonState() | translate }}
            </a>
          </li>

          <!-- Sign in -->
          <li>
            <a class='dropdown-item'
               (click)='onClickLoginLogout()'
               *ngIf='userIsLoggedIn()'>
              <i class='fas fa-sign-in-alt'></i>
              {{ getLoginButtonState() | translate }}
            </a>
          </li>
        </ul>
      </div>
    </ul>
  </div>
</nav>
<mdb-sidenav-layout class='amotiq-side-nav'>
  <mdb-sidenav #sidenav='mdbSidenav'
               [mode]="'side'"
               [focusTrap]='false'
               [accordion]='true'
               [hidden]='!showSideNavMenu'>
    <ul class='sidenav-menu pt-5'>
      <mdb-sidenav-item *ngFor='let mfe of groupedMfs'>
        <a class='sidenav-link'
           style='color: #00568a;'
           *ngIf='mfe.groupName'>
          <i class='fa-fw me-3'
             [class]="mfe.displayName ? mfe.icon : 'fas fa-exclamation-triangle'"></i>
          <!--          <span style="color: #7a7a7a;"-->
          <!--                slim="false">-->
          <span style='color: #7a7a7a;'>
            <b>{{ mfe.displayName | translate }}</b>
          </span>
        </a>
        <ul class='sidenav-collapse'
            mdbCollapse>
          <li class='sidenav-item'
              *ngFor='let item of mfe.items'>
            <div *ngIf='!item.flatComponents'>
              <a class='sidenav-link'
                 [routerLink]='[item?.routePath]'
                 style='color: #7a7a7a;'>{{ item?.displayName | translate }}</a>
            </div>
            <div *ngIf='item.flatComponents'>
              <a class='sidenav-link'
                 *ngFor='let component of item?.components'
                 style='color: #7a7a7a;'
                 [routerLink]='[component?.routePath]'>{{ component?.displayName | translate }}
              </a>
            </div>
          </li>
        </ul>
      </mdb-sidenav-item>
    </ul>
  </mdb-sidenav>
  <mdb-sidenav-content #sidenavContent>
    <router-outlet></router-outlet>
  </mdb-sidenav-content>
</mdb-sidenav-layout>
