<div class='modal-header'>
  <h4 class='modal-title w-100'
      id='myModalLabel'>{{'projects.iqars.modals.password-changed-success.title' | translate}}</h4>
  <button type='button'
          class='btn-close'
          aria-label='Close'
          (click)='close()'></button>
</div>
<div class='modal-body'>
  {{'projects.iqars.modals.password-changed-success.body' | translate}}
</div>
<div class='modal-footer'>
  <button type='button'
          class='btn btn-primary'
          (click)='close()'>
    {{ 'shared.modals.close' | translate }}
  </button>
</div>
