//// Font Awesome
//@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
//@import "~@fortawesome/fontawesome-free/scss/solid.scss";
//@import "~@fortawesome/fontawesome-free/scss/regular.scss";
//@import "~@fortawesome/fontawesome-free/scss/brands.scss";
//// MDB SCSS
//@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

// Custom CSS which will be used inside ag-grid (works only if imported before ag-grid styles)
//@import "~@amotiq/amotiq-base/assets/scss/function-pills.scss";
// Ag-Grid
//@import "~ag-grid-community/dist/styles/ag-grid.css";
//@import "~ag-grid-community/dist/styles/ag-theme-alpine.css";
//@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
//@import "~ag-grid-community/dist/styles/ag-theme-material.css";
@import "~@amotiq/amotiq-base/assets/scss/amotiq";

// Fix content not right height
mdb-sidenav-content > div {
  overflow: hidden;
  height: calc(100% - 46px);
}

router-outlet + ::ng-deep * {
  height: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
}
