<div class="d-flex flex-column justify-content-center align-items-center w-100 h-100">
  <div style=" width: 275px; height: 275px; background-color: #eff3f7;"
       class="rounded-circle shadow-1">
    <div class="d-flex justify-content-center align-items-center w-100 h-100">
      <img src="../../assets/Logos/birdie.png"
           class="rounded-circle m-auto"
           style="background-size: cover; text-align: center;">
    </div>
  </div>
  <div>
    <h5 class="mt-4"><b style="color: #343434b5;">{{ 'projects.iqars.components.home.welcome' | translate }}</b></h5>
  </div>
</div>
